@import "tailwindcss";

@layer utilities {

    /* src\pokeComponents\PokeItems.tsx */
    .gameArt {
        cursor: pointer;
        animation: charMov 1s infinite alternate-reverse;
        animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
    }

    @keyframes charMov {
        0% {
            transform: scaleY(.85) translateY(4px)
        }

        100% {
            transform: scaleY(1) translateY(0px)
        }
    }

    .pokeImg {
        &.OnView {
            & .officialArtwork {
                opacity: 1;
                visibility: visible;
                overflow-y: scroll;
                overscroll-behavior: contain;
            }
        }
    }

    /* src\pokeComponents\LoadingEl.tsx */
    .txtFrames {
        animation: txtFrames .75s infinite ease-in-out;
    }

    @keyframes txtFrames {
        0% {
            transform: translateY(1em)
        }

        50%,
        100% {
            transform: translateY(0)
        }
    }

    /* src\pokeComponents\Pagination.tsx */
    .pagerLists {
        color: #fff;
        background-color: #333;
        border-radius: 3em;
        line-height: 2;

        &[data-current="true"],
        &.afterRender {
            color: #333;
            background-color: transparent;
            border-radius: 0;

            &::before {
                content: "";
                background: url("./assets/monsterBall-min.png") no-repeat center center/cover;
                border-radius: 50%;
                box-shadow: 0 0 8px rgba(0, 0, 0, .5);
                opacity: .75;
                transform: scaleY(1) translateX(0%);
            }
        }

        &.prev::before {
            left: 50%;
            transform: scaleY(1) translateX(-50%);
            transition: transform .5s;
        }

        &.next::before {
            left: auto;
            right: 50%;
            transform: scaleY(1) translateX(50%);
            transition: transform .5s;
        }
    }
}